.header {
    display: flex;
    align-items: center;
    background-color: rgb(139, 53, 238);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 40px;
}

.header .title-group {
    padding-left: 25px;
}

.header i {
    padding-right: 7px;
}