
.header {
    display: flex;
    align-items: center;
    background-color: white;

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}


.header .title-group {
    padding-left: 0px;
}

.header i {
    padding-right: 15px;
}
