.footer{
    max-height: 35px;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    background-color: rgb(170, 197, 255);
}

.footer > span {
    font-size: 1.1em;
    font-weight: 300;
    color: black;
}

.footer i{
    margin-left: 5px;
    margin-right: 5px;
}