<mat-nav-list class="nav-list">

    <div class="logo py-3">
        <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Início
    </a>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <a mat-list-item routerLink="/colaboradores" routerLinkActive="list-item-active">
        <mat-icon>groups</mat-icon>
        Colaboradores
    </a>

    <a mat-list-item>
        <mat-icon>construction</mat-icon>
        Ferramentas
    </a>

    <a mat-list-item>
        <mat-icon>handshake</mat-icon>
        Empréstimos
    </a>

    <a mat-list-item>
        <mat-icon>logout</mat-icon>
        Logout
    </a>

</mat-nav-list>
